[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dlnm"]
	path = dlnm
	url = https://github.com/gasparrini/dlnm
[submodule "mixmeta"]
	path = mixmeta
	url = https://github.com/gasparrini/mixmeta
[submodule "mvmeta"]
	path = mvmeta
	url = https://github.com/gasparrini/mvmeta
